.welcome-page {
    .cards-news-wrapper {
        @media (min-width: 768px) {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: space-between;
            gap: 5px;
        }
    }

    .cards-news {
        min-width: 200px;

        &__number-count {
            color: darken($primary, 20);
        }
    }

    .donut-graphic-container {
        position: relative;
        margin: 0 auto;
        width: 100%;
    }

    .data-by-user {
        min-width: 300px;
        height: auto;
    }
}
