.navbar.nav-bar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;

    @media (min-width: 1200px) {
        position: static;
    }
}

.nav-item.active,
li.dropdown-item.active,
li.dropdown-item:active
{
    background-color: transparent;
    border-bottom: 2px solid $primary;
}
